<html>
<h1>Hello Cypress</h1>
<div id="mydiv">This text will change when the button below is clicked</div>
<button onclick="setTimeout(() => { document.querySelector('#mydiv').textContent='Foobar'}, 2000)">Click me</button>

</html>